<div [ngClass]="getConnectorClass()">
    <div [ngClass]="getGateClass()" (click)="open()">
        <div *ngIf="getShowText()" class="gate-text">{{gate.typeName}}</div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        {{gate.typeName}} - Gate Settings
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="settings-table">
            <div class="settings-row" *ngIf="showParameter()">
                <div class="settings-cell col-md-4">
                    {{gate.paramName}}:
                </div>
                <div class="settings-cell col-md-8">
                    <input type="number" [(ngModel)]="gate.paramReal" style="width: 50px; text-align: center;" step="0.1"/>     
                    <span *ngIf="showCplx()">+ i <input type="number" [(ngModel)]="gate.paramComplex" style="width: 50px; text-align: center;" step="0.1"/></span>     
                </div>

            </div>
            <div class="settings-row" *ngIf="showPhase()">
                <div class="settings-cell col-md-6">
                    Phase:
                </div>
                <div class="settings-cell col-md-6">
                    <input type="number" [(ngModel)]="gate.phase" style="width: 50px; text-align: center;" min="0" max="6.28" step="0.01"/>     
                </div>
            </div>
            <div class="settings-row" *ngIf="showTrans()">
                <div class="settings-cell col-md-6">
                    Transmittivity:
                </div>
                <div class="settings-cell col-md-6">
                    <input type="number" [(ngModel)]="gate.transmittivity" style="width: 50px; text-align: center;" min="0" max="1" step="0.01"/>     
                </div>
            </div>
            <div class="settings-row" *ngIf="showMeasurement()">
                <div class="settings-cell col-md-6">
                    Quadratures:
                </div>
                <div class="settings-cell col-md-6">
                    <div class="btn-group-sm" ngbRadioGroup name="radioBasic" [(ngModel)]="gate.measurementType">
                        <label ngbButtonLabel class="btn-default">
                          <input ngbButton type="radio" [value]="1"> X
                        </label>
                        <label ngbButtonLabel class="btn-default">
                          <input ngbButton type="radio" value="2"> P
                        </label>
                    </div>     
                </div>
            </div>
            <div class="settings-row" *ngIf="showMeasurement()">
                <div class="settings-cell col-md-6">
                    Photon Number:
                </div>
                <div class="settings-cell col-md-6">
                    <div class="btn-group-sm" ngbRadioGroup name="radioBasic" [(ngModel)]="gate.measurementType">
                        <label ngbButtonLabel class="btn-default">
                          <input ngbButton type="radio" [value]="3"> #
                        </label>
                    </div> 
                </div>
            </div>
            <div class="settings-row" *ngIf="showMeasurement()">
                <div class="settings-cell col-md-6">
                    Integer:
                </div>
                <div class="settings-cell col-md-6">
                    <input type="number" [(ngModel)]="gate.measurementInt"  (ngModelChange)="measurementIntChange($event)" style="width: 50px; text-align: center;" min="0" step="1"/>     
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Accept</button>
    </div>
</ng-template>
      