.gate{
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: gray;
    color: white;
    border: 2px solid #888;
    border-radius: 2px;
}

.gate.selected{
    border: 2px solid;
    border-color: #005cbf !important;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}

.gate.turq-light{
    background-color: #98DBC6;
}
.gate.turq{
    background-color: #5BC8AC;
}
.gate.yellow{
    background-color: #e6D72A;
}
.gate.pink{
    background-color: #F18D9e;
}

.gate.couple{
    position: relative;
    top: 0px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #444;
    border-color: #444;
}

.gate.couple.clear{
    position: relative;
    top: 0px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 2px solid #444;
    background-color: #fff;
    border-color: #444;
}

/*connectors*/
.connector.both .gate{
    top: 2px;
    left: -10px;
}
.connector.top .gate{
    top: 2px;
    left: -14px;
}
.connector.bottom .gate{
    top: -16px;
    left: -14px;
}

.connector.both .gate.couple{
    top: 14px;
    left: -4px;
}
.connector.top .gate.couple{
    top: 14px;
    left: -4px;
}
.connector.bottom .gate.couple{
    top: -4px;
    left: -4px;
}

.connector{
    position: relative;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border-left: solid 1px #888;
    border-right: solid 1px #888;
    color: white;
}
.connector.solid{
    background-color: #444;
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
}
.connector.both{
    width: 4px;
    top: -2px;
    height: 40px;
}
.connector.top{
    width: 4px;
    top: -1px;
    height: 20px;
}
.connector.bottom{
    width: 4px;
    top: 16px;
    height: 22px;
}


/*gate contents*/
.gate-text{
    position: absolute;
    font-size: 16px;
    top: calc(50% - 8px);
    line-height: 16px;
    width: 100%;
}
.gate-params{
    position: absolute;
    font-size: 8px;
    width:100%;
    top: 14px; 
}


/*gate settings modal*/
.settings-cell{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 40px;
}


