.gate{
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    top: -13px;
    width: 30px;
    height: 30px;
    background-color: gray;
    color: white;
    border: 2px solid #888;
    border-radius: 2px;
}

.gate.turq-light{
    background-color: #98DBC6;
}
.gate.turq{
    background-color: #5BC8AC;
}
.gate.yellow{
    background-color: #e6D72A;
}
.gate.pink{
    background-color: #F18D9e;
}

.gate.bottom{
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    top: -46px;
    width: 30px;
    height: 62px;
}

/*connectors*/
.connector.both .gate,
.connector.top .gate{
    top: 5px;
    left: -10px;
}
.connector.bottom .gate{
    top: -13px;
    left: -14px;
}

.connector{
    position: relative;
    margin: 0 auto;
    text-align: center;
    background-color: #888;
    color: white;
}
.connector.both{
    width: 2px;
    top: -18px;
    height: 40px;
}
.connector.top{
    width: 2px;
    top: -18px;
    height: 20px;
}
.connector.bottom{
    width: 2px;
    top: 0px;
    height: 20px;
}


/*gate contents*/
.gate-text{
    position: absolute;
    font-size: 16px;
    top: calc(50% - 8px);
    line-height: 16px;
    width: 100%;
}
.gate-params{
    position: absolute;
    font-size: 8px;
    width:100%;
    top: 14px; 
}


/*gate settings modal*/
.settings-table{
    display: table;
    width: 100%;
}
.settings-row{
    display: table-row;
    width: 100%;
}
.settings-cell{
    padding-top: 10px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}



