<div [ngClass]="getConnectorClass()">
    <div [ngClass]="getGateClass()" (click)="open()">
        <div *ngIf="getShowText()" class="gate-text">
            {{gate.typeName}}<span class="superscript" *ngIf="gate.conjugate">†</span>
        </div>
        <div *ngIf="getShowIcon()" class="gate-text">
            <span class="glyphicon glyphicon-{{gate.icon}}" aria-hidden="true"></span>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        {{gate.typeName}} - Gate Settings
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="settings-table" *ngIf="!gate.isMeasurement">
            <div class="settings-row">
                <div class="settings-cell col-md-6">
                    Conjugate:
                </div>
                <div class="settings-cell col-md-6">
                    <div class="btn-group-sm" ngbRadioGroup name="radioBasic" [(ngModel)]="gate.conjugate">
                        <label ngbButtonLabel class="btn-default">
                            <input ngbButton type="radio" [value]="false"> {{gate.typeName}}
                        </label>
                        <label ngbButtonLabel class="btn-default">
                            <input ngbButton type="radio" value="true"> {{gate.typeName}}<span class="superscript">†</span>
                        </label>
                    </div>     
                </div>
            </div>
            <div class="settings-row" *ngFor="let parameter of gate.parameters">
                <div class="settings-cell col-md-6">
                    {{parameter.name}}:
                </div>
                <div class="settings-cell col-md-6" *ngIf="parameter.a !== null || parameter.b !== null">
                    <input type="number" [(ngModel)]="parameter.a" style="width: 50px; text-align: center;" step="0.1"/>     
                    <span *ngIf="parameter.a !== null && parameter.b !== null"> + </span>
                    <span *ngIf="parameter.b !== null">ⅈ <input type="number" [(ngModel)]="parameter.b" style="width: 50px; text-align: center;" step="0.1"/></span>     
                </div>
                <div class="settings-cell col-md-6" *ngIf="parameter.r !== null || parameter.phi !== null">
                    <input *ngIf="parameter.r !== null" type="number" [(ngModel)]="parameter.r" style="width: 50px; text-align: center;" step="0.1"/> 
                    <span *ngIf="parameter.r !== null && parameter.phi !== null"> • </span>
                    <span *ngIf="parameter.phi !== null">e<span class="superscript">ⅈ2π • </span><input type="number" [(ngModel)]="parameter.phi" style="width: 50px; text-align: center;" step="0.01" min="0" max="1"/></span>     
                </div>
            </div>
        </div>
        <div class="settings-table" *ngIf="gate.isMeasurement">
            <div class="settings-row">
                <div class="settings-cell col-md-6">
                    Quadratures:
                </div>
                <div class="settings-cell col-md-6">
                    <div class="btn-group-sm" ngbRadioGroup name="radioBasic" [(ngModel)]="gate.measurementType">
                        <label ngbButtonLabel class="btn-default">
                          <input ngbButton type="radio" [value]="1"> X
                        </label>
                        <label ngbButtonLabel class="btn-default">
                          <input ngbButton type="radio" value="2"> P
                        </label>
                    </div>     
                </div>
            </div>
            <div class="settings-row">
                <div class="settings-cell col-md-6">
                    Photon Number:
                </div>
                <div class="settings-cell col-md-6">
                    <div class="btn-group-sm" ngbRadioGroup name="radioBasic" [(ngModel)]="gate.measurementType">
                        <label ngbButtonLabel class="btn-default">
                          <input ngbButton type="radio" [value]="3"> #
                        </label>
                    </div> 
                </div>
            </div>
            <div class="settings-row">
                <div class="settings-cell col-md-6">
                    Integer:
                </div>
                <div class="settings-cell col-md-6">
                    <input type="number" [(ngModel)]="gate.measurementInt"  (ngModelChange)="measurementIntChange($event)" style="width: 50px; text-align: center;" min="0" step="1"/>     
                </div>
            </div>
        </div>
    </div>
</ng-template>
      