<div [ngClass]="getConnectorClass()">
    <div [ngClass]="getGateClass()" (click)="open()">
        <div *ngIf="getShowText()" class="gate-text">
            {{gate.typeName}}<span class="superscript" *ngIf="gate.conjugate">†</span>
        </div>
        <div *ngIf="getShowIcon()" class="gate-text">
            <span class="fa fa-{{gate.icon}}" aria-hidden="true"></span>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        {{gate.typeName}} - Gate Settings
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container" *ngIf="!gate.isMeasurement()">
            <div class="row" *ngIf="gate.coupled">
                <div class="settings-cell name col-md-4">
                    Control:
                </div>
                <div class="settings-cell col-md-1"> 
                </div>  
                <div class="settings-cell col-md-7">
                    <select [(ngModel)]="gate.couplingIdx" (ngModelChange)="couplingChanged($event)" style="width: 50px;">
                        <option *ngFor="let c of allowedCouples" [ngValue]="c">{{c + 1}}</option>
                    </select>   
                </div>
            </div>
            <div class="row">
                <div class="settings-cell name col-md-4">
                    Conjugate:
                </div>
                <div class="settings-cell col-md-1"> 
                </div>  
                <div class="settings-cell col-md-7">
                    <div class="btn-group-sm" ngbRadioGroup name="radioBasic" [(ngModel)]="gate.conjugate">
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" [value]="false"> {{gate.typeName}}
                        </label>
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="true"> {{gate.typeName}}<span class="superscript">†</span>
                        </label>
                    </div>     
                </div>
            </div>
            <div class="row" *ngFor="let parameter of gate.parameters">
                <div class="settings-cell name col-md-4">  
                    {{parameter.name}}: &nbsp;
                </div>  
                <div class="settings-cell name col-md-1"> 
                    <div class="btn-group" data-toggle="buttons" *ngIf="(parameter.a && parameter.b) || (parameter.r && parameter.phi)">   
                        <label class="btn-sm btn-primary" ngbButtonLabel >
                            <input type="checkbox" ngbButton (click)="togglePhase(parameter)">
                            <span *ngIf="!parameter.phaseMode" aria-hidden="true">(a,b)</span>
                            <span *ngIf="parameter.phaseMode" aria-hidden="true">(r,φ)</span>                      
                        </label> 
                    </div>  
                </div>
                <div class="settings-cell col-md-7" *ngIf="!parameter.phaseMode">
                    <div *ngIf="parameter.a" class="btn-group" data-toggle="buttons">
                        <label class="btn-sm btn-primary" ngbButtonLabel>
                            <input type="checkbox" ngbButton (click)="toggleLink(parameter.a)">
                            <i *ngIf="parameter.a.linkMode" class="fa fa-link" aria-hidden="true"></i>
                            <i *ngIf="!parameter.a.linkMode" class="fa fa-hashtag" aria-hidden="true"></i>
                        </label>   
                        <input *ngIf="!parameter.a.linkMode" type="number" [(ngModel)]="parameter.a.value" style="width: 50px; text-align: center;" step="0.1"/>     
                        <select *ngIf="parameter.a.linkMode" [(ngModel)]="parameter.a.link" style="width: 50px;">
                            <option *ngFor="let c of cbitList" [ngValue]="c">{{c + 1}}</option>
                        </select>
                    </div>                                  
                    <span *ngIf="parameter.a && parameter.b"> + </span>
                    <span *ngIf="parameter.b">ⅈ 
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn-sm btn-primary" ngbButtonLabel>
                                <input type="checkbox" ngbButton (click)="toggleLink(parameter.b)">
                                <i *ngIf="parameter.b.linkMode" class="fa fa-link" aria-hidden="true"></i>
                                <i *ngIf="!parameter.b.linkMode" class="fa fa-hashtag" aria-hidden="true"></i>                      
                            </label>   
                            <input *ngIf="!parameter.b.linkMode" type="number" [(ngModel)]="parameter.b.value" style="width: 50px; text-align: center;" step="0.1"/>
                            <select *ngIf="parameter.b.linkMode" [(ngModel)]="parameter.b.link" style="width: 50px;">
                                <option *ngFor="let c of cbitList" [ngValue]="c">{{c + 1}}</option>
                            </select>
                        </div>
                    </span>     
                </div>
                <div class="settings-cell col-md-7" *ngIf="parameter.phaseMode">
                    <div *ngIf="parameter.r" class="btn-group" data-toggle="buttons">
                        <label class="btn-sm btn-primary" ngbButtonLabel>
                            <input type="checkbox" ngbButton (click)="toggleLink(parameter.r)">
                            <i *ngIf="parameter.r.linkMode" class="fa fa-link" aria-hidden="true"></i>
                            <i *ngIf="!parameter.r.linkMode" class="fa fa-hashtag" aria-hidden="true"></i>
                        </label>
                        <input *ngIf="!parameter.r.linkMode" type="number" [(ngModel)]="parameter.r.value" style="width: 50px; text-align: center;" step="0.1"/> 
                        <select *ngIf="parameter.r.linkMode" [(ngModel)]="parameter.r.link" style="width: 50px;">
                            <option *ngFor="let c of cbitList" [ngValue]="c">{{c + 1}}</option>
                        </select>
                    </div>
                    <span *ngIf="parameter.r && parameter.phi"> • e<span class="superscript">ⅈ2π • </span></span>
                    <span *ngIf="!parameter.r">2π • </span>
                    <span *ngIf="parameter.phi">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn-sm btn-primary" ngbButtonLabel>
                                <input type="checkbox" ngbButton (click)="toggleLink(parameter.phi)">
                                <i *ngIf="parameter.phi.linkMode" class="fa fa-link" aria-hidden="true"></i>
                                <i *ngIf="!parameter.phi.linkMode" class="fa fa-hashtag" aria-hidden="true"></i>
                            </label>
                            <input *ngIf="!parameter.phi.linkMode" type="number" [(ngModel)]="parameter.phi.value" style="width: 50px; text-align: center;" step="0.01" min="0" max="1"/>
                            <select *ngIf="parameter.phi.linkMode" [(ngModel)]="parameter.phi.link" style="width: 50px;">
                                <option *ngFor="let c of cbitList" [ngValue]="c">{{c + 1}}</option>
                            </select>
                        </div>                       
                    </span>     
                </div>
            </div>
        </div>
        <div class="container" *ngIf="gate.isMeasurement()">
            <div class="row">
                <div class="settings-cell name col-md-4 label">
                    Classical Bit:
                </div>
                <div class="settings-cell col-md-8">
                    <select [(ngModel)]="gate.measurementBit" style="width: 50px;">
                        <option *ngFor="let c of cbitList" [ngValue]="c">{{c + 1}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="settings-cell name col-md-4 label">
                    Type:
                </div>
                <div class="settings-cell col-md-8">
                    <div class="btn-group-sm" ngbRadioGroup name="radioBasic" [(ngModel)]="gate.measurementType">
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" [value]="0"> Quadrature
                        </label>
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" [value]="1"> Photon Number
                        </label>
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" [value]="2"> Fock
                        </label>
                    </div>     
                </div>
            </div>
            <div class="row" *ngIf="gate.measurementType === 0"> 
                <div class="settings-cell name col-md-4 label">
                    Quadrature:
                </div>
                <div class="settings-cell col-md-8">
                    <div class="btn-group-sm" ngbRadioGroup name="radioBasic" [(ngModel)]="gate.measurementQuad">
                        <label ngbButtonLabel class="btn-primary">
                          <input ngbButton type="radio" [value]="0"> X
                        </label>
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" [value]="1"> P
                        </label>
                    </div> 
                </div>
            </div>
            <div class="row" *ngIf="gate.measurementType === 2">
                <div class="settings-cell name col-md-4 label">
                    Fock State:
                </div>
                <div class="settings-cell col-md-8">
                    <input type="number" [(ngModel)]="gate.measurementInt" style="width: 50px; text-align: center;" min="0" step="1"/>     
                </div>
            </div>
        </div>
    </div>
</ng-template>
      