
/*gate settings modal*/
.settings-cell{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 40px;
}

.ket{
    font-size: 10px;
}

.selected{
    border: 2px solid;
    border-color: #005cbf !important;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}