gate-canvas{
    overflow-x: auto;
    min-width: 100%;
    table-layout: fixed;
}

.settings-table{
    display: table;
}
.settings-row{
    display: table-row;
}
.settings-cell{
    padding-top: 10px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}
