gate-canvas{
    overflow-x: auto;
    min-width: 100%;
    table-layout: fixed;
}
.tab-box{
    margin: 15px 0px 15px 0px;
    padding: 10px;
    background-color: #efefef;
    border-radius: 5px;
    text-align: left;
}


.runner{
    margin: 15px 0px 15px 15px;
    padding: 10px;
    background-color: #efefef;
    border-radius: 5px;
    text-align: left;
}
.spacer{
    margin: 15px 0px 15px 0px;
}

>>>.ng-sidebar{
    border: 1px solid #aaa;
    background: #fff;
    min-height: 300px;
    width: 500px;
    margin: 0 auto;
}

.settings-header{
    padding: 15px;
    border-bottom: 1px solid #e9ecef;
    text-align: center;
}

.settings{
    max-width: 500px;
    margin-top: 5px;
}

.settings-cell{
    height: 41px;
    padding: 5px 0px;
    vertical-align: middle;
    text-align: center;
}

