<div class="container">
    <div class="row">
        <div class="col-md-3">          
            <ngb-tabset>
                <ngb-tab title="Gates">
                    <ng-template ngbTabContent>
                        <gate-toolbox class="container" (dragStart)="setDragging($event)"></gate-toolbox>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Settings">
                    <ng-template ngbTabContent>
                        <div class="settings-table">
                            <div class="settings-row">
                                <div class="settings-cell col-md-8">
                                    Quantum Bits:
                                </div>
                                <div class="settings-cell col-md-4">
                                    <input type="number" [(ngModel)]="numQBits" style="width: 50px; text-align: center;" min="1" max="10" step="1" (ngModelChange)="numQBitsChanged($event)"/>     
                                </div>
                            </div>
                            <div class="settings-row">
                                <div class="settings-cell col-md-8">
                                    Classical Bits:
                                </div>
                                <div class="settings-cell col-md-4">
                                    <input type="number" [(ngModel)]="numCBits" style="width: 50px; text-align: center;" min="1" max="{{numQBits}}" step="1"/>     
                                </div>
                            </div>
                            <div class="settings-row">
                                <div class="settings-cell col-md-8">
                                    Canvas Length:
                                </div>
                                <div class="settings-cell col-md-4">
                                    <input type="number" [(ngModel)]="canvasLength" style="width: 50px; text-align: center;" min="20" max="200" step="1"/>     
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>	          
        </div>
        <div class="col-md-9">
            <h4>Xanadu Dreamer</h4>
            <gate-canvas [numQBits]="numQBits" [numCBits]="numCBits" [canvasLength]="canvasLength" [dragging]="dragging" (dragStart)="setDragging($event)"></gate-canvas>
        </div>
    </div>
</div>



