<div class="container">
    <div class="row">
        <div class="col-md-3 tab-box">          
            <ngb-tabset [justify]="fill" type="pills">
                <ngb-tab title="Gates">
                    <ng-template ngbTabContent>
                        <gate-toolbox (draggingData)="setDragging($event)"></gate-toolbox>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Settings">
                    <ng-template ngbTabContent>
                        <div class="container">
                            <div class="row">
                                <div class="settings-cell col-md-8">
                                    Quantum Modes:
                                </div>
                                <div class="settings-cell col-md-4">
                                    <input type="number" [(ngModel)]="numQBits" style="width: 50px; text-align: center;" min="1" max="10" step="1" (ngModelChange)="numQBitsChanged($event)"/>     
                                </div>
                            </div>
                            <div class="row">
                                <div class="settings-cell col-md-8">
                                    Classical Outputs:
                                </div>
                                <div class="settings-cell col-md-4">
                                    <input type="number" [(ngModel)]="numCBits" style="width: 50px; text-align: center;" min="1" max="{{numQBits}}" step="1" (ngModelChange)="updateSettings($event)"/>     
                                </div>
                            </div>
                            <div class="row">
                                <div class="settings-cell col-md-8">
                                    Mode Length:
                                </div>
                                <div class="settings-cell col-md-4">
                                    <input type="number" [(ngModel)]="canvasLength" style="width: 50px; text-align: center;" min="20" max="200" step="1" (ngModelChange)="updateSettings($event)"/>     
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Routines">
                    <ng-template ngbTabContent>
                        <saves></saves>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>	          
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="runner col-md-12">Simulate</div>
            </div>
            <gate-canvas [dragData]="dragData" (draggingData)="setDragging($event)"></gate-canvas>
        </div>
    </div>
</div>



