<div class="container">
    <div class="row">
        <div class="col-md-3">          
            <ngb-tabset>
                <ngb-tab title="Gates">
                    <ng-template ngbTabContent>
                        <gate-toolbox class="container" (dragStart)="setDragging($event)"></gate-toolbox>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Settings">
                    <ng-template ngbTabContent>
                        <div class="settings">                    
                            Number of Quantum Bits:
                            <input type="number" [(ngModel)]="numQBits"/>
                            Number of Classical Bits:
                            <input type="number" [(ngModel)]="numCBits"/>
                            Length of Canvas:
                            <input type="number" [(ngModel)]="canvasLength"/>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>	          
        </div>
        <div class="col-md-9">
            <h4>Quantum Canvas</h4>
            <gate-canvas [numBits]="numQBits"></gate-canvas>
        </div>
    </div>
</div>

