gate-canvas{
    overflow-x: auto;
    min-width: 100%;
    table-layout: fixed;
}
.tab-box{
    margin: 15px 0px 15px 0px;
    padding: 10px;
    background-color: #efefef;
    border-radius: 5px;
    text-align: left;
}

.settings-cell{
    padding: 5px 0px;
    vertical-align: middle;
    text-align: center;
}


.runner{
    margin: 15px 0px 15px 15px;
    padding: 10px;
    background-color: #efefef;
    border-radius: 5px;
    text-align: left;
}
.spacer{
    margin: 15px 0px 15px 0px;
}

>>>.ng-sidebar{
    border: 1px solid #aaa;
    background: #fff;
    width: 400px;
}
