.save-table{
    padding:5px;
    display: table;
    width: 100%;
}
.save-row{
    display: table-row;
    width: 100%;
}
.save-cell{
    padding: 5px;
    border-bottom: 1px solid #888;
    width: 50%;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}
.save-cell{
    padding: 5px;
    border-bottom: 1px solid #888;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}
.save-header{
    padding: 5px;
    border-bottom: 2px double #888;
    font-weight: bold;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}
.icon{
    width: 15%;
}
.name{
    width: 70%;
}
.date{
    width: 15%;
}
.save-cell.date{
    font-size: 10px;
}
.selected .save-cell.icon{
    background: #ddd;
}
.name.saved input{
    background: transparent;
    border: none;
}
.name.saved input:focus{
    background: white;
}
