
<div class="container">
    <div class="row">
        <div class="save-header name col-md-12">
        Name
        </div>
    </div>
    <div class="row" [ngClass]="{'selected': (i === currentSave)}" *ngFor="let save of savesList; let i = index" (click)="selectSave(i)">
        <div class="save-cell icon col-md-2"> 
            <div class="save">
                <button type="button" class="btn-xs" (click)="downloadJSON(i)">
                    <i class="fa fa-download"></i>
                </button>
            </div>
        </div>
        <div class="save-cell saved col-md-9">
            <span>{{save.name}}</span>
        </div>
        <div class="save-cell saved col-md-1">
            <span aria-hidden="true" (click)="deleteSave(i)">&times;</span>
        </div> 
    </div>
    <div class="row">
        <div class="save-cell icon col-md-2"> 
            <div class="add">
                <button type="button" class="btn-xs" (click)="createSave()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="save-cell name col-md-10">
            <input type="text" [(ngModel)]="saveName" (ngModelChange)="nameChanged($event)"/> 
        </div> 
    </div>
    <div class="row">
        <div class="save-cell name col-md-12">
            <input type="file" #fileInput (change)="fileUpload($event)" accept="application/json"/> 
        </div>
        <span class="error">
        {{uploadMsg}}
        </span>
    </div>
</div>
<a id="downloadAnchorElem" style="display:none"></a>