.save-cell{
    padding: 5px 5px;
    border-bottom: 1px solid #888;
    vertical-align: middle;
    text-align: center;
}
.save-header{
    font-size: 85%;
    padding: 5px 0px;
    border-bottom: 2px double #888;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}
.icon{
    padding: 8px 0px;
}
.save-cell.date{
    font-size: 10px;
}
.selected .save-cell.icon{
    background: #ddd;
}
.saved input{
    background: transparent;
    border: none;
}
.name.saved input:focus{
    background: white;
}
