<span>Single Mode Gates</span> 
<div class="toolbox-table">
  <div class="toolbox-row" *ngFor="let row of singleGrid">
    <div class="toolbox-cell" *ngFor="let gate of row" dnd-draggable [dragData]="gate" (onDragStart)="setDragging($event, gate)" (onDragEnd)="setNotDragging($event)">
      <div class="toolbox-background">
        <gate [gate]="gate"></gate>
      </div>  
    </div>
  </div>
</div>

<span>Coupling Gates</span> 
<div class="toolbox-table">
  <div class="toolbox-row" *ngFor="let row of coupledGrid">
    <div class="toolbox-cell" *ngFor="let gate of row" dnd-draggable [dragData]="gate" (onDragStart)="setDragging($event, gate)" (onDragEnd)="setNotDragging($event)">
      <div class="coupled-toolbox-background">
        <gate [gate]="gate"></gate>
      </div> 
    </div>
  </div>
</div>


<span>Operations</span> 
<div class="toolbox-table">
  <div class="toolbox-row" *ngFor="let row of measurementsGrid">
    <div class="toolbox-cell" *ngFor="let gate of row" dnd-draggable [dragData]="gate" (onDragStart)="setDragging($event, gate)" (onDragEnd)="setNotDragging($event)">
      <div class="toolbox-background">
        <gate [gate]="gate"></gate>
      </div> 
    </div>
    <div class="toolbox-cell" dnd-droppable (onDropSuccess)="setNewGate($event, spot.bitIdx, spot.spotIdx)">
      <div class="trash">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>



