.toolbox-table{
    display: table;
}
.toolbox-row{
    display: table-row;
}
.toolbox-cell{
    vertical-align: middle;
    display: table-cell;
    width: 60px;
    height: 60px;
}

.trash{
    border: 1px solid black;
    vertical-align: middle;
    width: 60px;
    height: 60px;
}