Gates
<div class="toolbox-table">
  <div class="toolbox-row" *ngFor="let row of gatesGrid">
    <div class="toolbox-cell" *ngFor="let gate of row" dnd-draggable [dragData]="gate" (onDragStart)="setDragging($event)" (onDragEnd)="setNotDragging($event)">
      <gate [gate]="gate"></gate>
    </div>
  </div>
</div>

Operations
<div class="toolbox-table">
  <div class="toolbox-row" *ngFor="let row of operatorsGrid">
    <div class="toolbox-cell" *ngFor="let gate of row" dnd-draggable [dragData]="gate" (onDragStart)="setDragging($event)" (onDragEnd)="setNotDragging($event)">
      <gate [gate]="gate"></gate>
    </div>
    <div class="toolbox-cell" dnd-droppable (onDropSuccess)="setNewGate($event, spot.bitIdx, spot.spotIdx)">
      <div class="trash">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </div>
    </div>
  </div>
</div>


