<div class="left-line col-md-1">
    <div class="left-row" *ngFor="let qbit of bits">
        |0⟩
    </div>
    <div class="left-row last">
        0<span class="superscript">{{numCBits}}</span>
    </div>
</div>
<div class="bit-table-wrapper col-md-11">
    <div class="bit-table" [style.width.px]="50 * canvasLength">
        <div class="bit-line" *ngFor="let qbit of bits">
            <div class="bit-spot" *ngFor="let spot of qbit.spots | orderBy: 'spotIdx'" dnd-draggable [dragEnabled]="allowDragFunction(spot.bitIdx, spot.spotIdx)" (onDragStart)="setDragging($event)" [dragData]="spot.gate" (onDragEnd)="setNotDragging($event)" (onDragSuccess)="setNoGate($event, spot.bitIdx, spot.spotIdx)">
                <div class="bit-drop-area" dnd-droppable [allowDrop]="allowDropFunction(spot.bitIdx, spot.spotIdx)" (onDropSuccess)="setNewGate($event, spot.bitIdx, spot.spotIdx)">
                    <div class="bit-background" [ngClass]="{'clear' : !spot.showBg}">
                        <div [ngClass]="getDraggingClass(spot.bitIdx, spot.spotIdx)">
                            <gate [gate]="spot.gate"></gate>
                        </div>
                    </div>
                    <span *ngIf="showIdx"> {{spot.bitIdx}},{{spot.spotIdx}}</span>
                </div>
            </div>
        </div>
        <div class="bit-line cbit">
            <div class="cbit-spot" *ngFor="let measurement of cbit.measurements"> 
                <div class="cbit-gap">
                    <div class="cbit-arrow" *ngIf="measurement.active">
                    </div>  
                </div>  
                <div class="cbit-background">
                </div>           
            </div>
        </div>
    </div>
</div>
    

