<div class="row" *ngIf="initialized">
    <div class="left-line col-md-1" dnd-sortable-container [sortableData]="bits">
        <div class="left-row" *ngFor="let qbit of bits; let i = index" dnd-sortable [sortableIndex]="i" (onDragEnd)="recalcAllGateIdx($event)">
            <qbit [qbit]="qbit"></qbit>
        </div>
        <div class="left-row last">
            c<span class="superscript">{{numCBits}}</span>
        </div>
    </div>
    <div class="bit-table-wrapper col-md-11">
        <div class="bit-table" [style.width.px]="50 * canvasLength">
            <div class="bit-line" *ngFor="let qbit of bits">
                <div class="bit-spot" *ngFor="let spot of qbit.spots | orderBy: 'spotIdx'" dnd-draggable [dragEnabled]="allowDragFunction(spot.bitIdx, spot.spotIdx)" (onDragStart)="setDragging($event, spot.gate)" [dragData]="spot.gate" (onDragEnd)="setNotDragging($event)" (onDragSuccess)="setNoGate($event, spot.bitIdx, spot.spotIdx)">
                    <div class="bit-drop-area" dnd-droppable [allowDrop]="allowDropFunction(spot.bitIdx, spot.spotIdx)" (onDropSuccess)="setNewGate($event, spot.bitIdx, spot.spotIdx)" (onDragEnter)="preventDefault($event)" (onDragOver)="preventDefault($event)" (onDragLeave)="preventDefault($event)">
                        <div class="bit-background" [ngClass]="{'clear' : !spot.showBg}">
                            <div [ngClass]="getDraggingClass(spot.bitIdx, spot.spotIdx)">
                                <gate [gate]="spot.gate" [numCBits]="numCBits" [numQBits]="numQBits" [allowedCouples]="getAllowedCouples(spot.gate)" (mouseover)="showGateInfo($event, spot.gate)" (mouseleave)="hideGateInfo($event)" (onModalClose)="recalcAllGateIdx($event)"></gate>
                            </div>
                        </div>
                        <span *ngIf="showIdx"> {{spot.gate.bitIdx}},{{spot.gate.spotIdx}}</span>
                    </div>
                </div>
            </div>
            <div class="bit-line cbit">
                <div class="cbit-spot" *ngFor="let measurement of cbit.measurements"> 
                    <div class="cbit-background">
                        <div class="cbit-line" *ngIf="measurement.active || measurement.linked"></div> 
                        <div class="cbit-arrow" *ngIf="measurement.active"></div> 
                        <div class="cbit-arrow-reverse" *ngIf="measurement.linked"></div>  
                        <span class="measurement" *ngIf="measurement.active || measurement.linked">
                            {{measurement.bit + 1}}
                        </span>
                    </div>           
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row info">
    <div class="col-md-12">
        <span *ngFor="let gate of gateInfo">
            {{gate}}
        </span>    
    </div> 
</div>
    

