.left-line{
    padding-right: 0px; 
    padding-left: 0px; 
}
.left-row{
    height:34px;
    line-height:24px;
    padding: 5px;
}
.left-row.last{
    margin-top: 20px;
}
.bit-table-wrapper{
    overflow-x:scroll;
    border-left: 4px groove #aaa;
    border-right: 4px ridge #aaa;
    padding-right: 0px; 
    padding-left: 0px; 
}
.bit-table{
    display: table;
}
.bit-line{
    display: table-row;
}
.bit-spot{
    display: table-cell;
}
.bit-drop-area{
    display: table-cell;
    height: 100%;
}
.bit-background{
    position: relative;
    width: 50px;
    height: 2px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #444;
}
.bit-background.clear{
    background-color: transparent;
}
.bit-background .circle{
    position: relative;
    top:-12px;
    width: 30px;
    height: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 9px;
    margin-right: 9px;
    border-radius: 3px;
    background: #888;
    opacity: 0.2;
}
.bit-background.clear .circle{
    background-color: transparent;
}
.dragging .bit-background{
    background-color: red;
}
.cbit-spot{
    display: table-cell;
    height: 100%;
    width: 100%;
}
.cbit-background{
    position: relative;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    background-color: white;
    height: 4px;
    margin-top: 19px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
}
.measurement{
    position: absolute;
    width: 100%;
    left: 0;
    top: 5px;
}
.cbit-gap{
    position: relative;
}
.cbit-line{
    position: relative;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    background-color: white;
    height: 15px; 
    width: 4px;
    margin-left: 23px;
    top: -16px; 
}
.cbit-arrow{
    position: relative;
    top: -20px;
    left: 20px;
    height: 0px; 
    width: 0px; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;   
    border-top: 5px solid #888;
}
.cbit-arrow-reverse{
    position: relative;
    top: -20px;
    left: 20px;
    height: 0px; 
    width: 0px; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;   
    border-bottom: 5px solid #888;
}

/*gate settings modal*/
.settings-cell{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 40px;
}
