.left-line{
    padding-right: 0px; 
    padding-left: 0px; 
}
.left-row{
    height:34px;
    line-height:24px;
    padding: 5px;
}
.left-row.last{
    margin-top: 20px;
}
.bit-table-wrapper{
    overflow-x:scroll;
    border-left: 3px double #888;
    border-right: 3px double #888;
    padding-right: 0px; 
    padding-left: 0px; 
}
.bit-table{
    display: table;
}
.bit-line{
    display: table-row;
}
.bit-spot{
    display: table-cell;
}
.bit-drop-area{
    display: table-cell;
    height: 100%;
}
.bit-background{
    position: relative;
    width: 50px;
    height: 2px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #444;
}
.bit-background.clear{
    background-color: transparent;
}
.bit-background .circle{
    position: relative;
    top:-2px;
    width: 6px;
    height: 6px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 21px;
    margin-right: 21px;
    border-radius: 3px;
    background-color: #444;
}
.bit-background.clear .circle{
    background-color: transparent;
}
.dragging .bit-background{
    background-color: red;
}
.cbit-spot{
    display: table-cell;
    height: 100%;
    width: 100%;
}
.cbit-background{
    position: relative;
    border-top: 3px double #aaa;
    background-color: #ddd;
    height: 40px;
    text-align: center;
    width: 100%;
}
.measurement{
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(50% + -10px);
}
.cbit-gap{
    position: relative;
    height: 15px; 
}
.cbit-arrow{
    position: relative;
    left: 20px;
    height: 0px; 
    width: 0px; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;   
    border-top: 5px solid #888;
}