.labels{
    font-size: 80%;
    font-weight: bold;
}
.chart-area{
    margin: 15px 0px 15px 0px;
    max-height: 300px;
}
.code-area{
    margin: 15px 0px 15px 0px;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 5px;
    background: #23241f;
}
.error{
    color: red;
    font-size: 12px;
}
.checkbox-container{
    text-align: center;
    padding: 0;
}