.labels{
    font-size: 80%;
    font-weight: bold;
}
.chart-area{
    margin: 15px 0px 15px 0px;
    max-height: 500px;
}
.code-area{
    margin: 15px 0px 15px 0px;
    max-height: 500px;
    overflow-y: auto;
    border-radius: 5px;
    background: #23241f;
}
.error{
    color: red;
    font-size: 12px;
}
.checkbox-container{
    text-align: center;
    padding: 0;
}
.radio-cell{
    height: 41px;
    padding: 5px 0px;
    vertical-align: middle;
    text-align: center;
}
.chart-select{
    margin: 0px 5px;
}
