<div>
  <div class="row labels">
    <div class="col-md-2">
      Type of Simulation
    </div>
    <div class="col-md-1 checkbox-container">
      Sampling
      </div>
    <div class="col-md-2">
      Number of Shots 
    </div>
    <div class="col-md-2">
        Outputs
    </div>
    <div class="col-md-5"></div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <select [(ngModel)]="backendType" style="width: 125px; height: 31px;">
          <option *ngFor="let backend of backendList" [ngValue]="backend">{{backend}}</option>
      </select>
    </div>
    <div class="col-md-1 checkbox-container">
      <input type="checkbox" [(ngModel)]="sampling"/> 
    </div>
    <div class="col-md-2">
      <input type="number" [(ngModel)]="numShots" [disabled]="!sampling" style="width: 125px; height: 31px; text-align: center;" min="1" max="1000" step="1"/> 
    </div>
    <div class="col-md-2">
      <div class="btn-group">
          <label class="btn-sm btn-primary" ngbButtonLabel (click)="addOutput()">
              <i  class="fa fa-plus" aria-hidden="true"></i>
          </label>
          <select [(ngModel)]="outputToAdd" style="width: 150px; text-align: center;">
              <option *ngFor="let output of outputsList; let i = index" [ngValue]="i">{{output.typeName}}</option>
              <option *ngIf="outputsList.length === 0">all options added</option>
          </select>
      </div>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-1">
      <div class="btn-group">
          <label class="btn-sm btn-primary" [ngClass]="{'btn-disabled': outputs.length === 0 || running}" ngbButtonLabel (click)="runSimulation()">
              <span *ngIf="!running">Go</span>
              <i *ngIf="running" class="fa fa-cog fa-spin" aria-hidden="true"></i>
          </label>
      </div>
    </div>
  </div>
  <hr *ngIf="errorMsg !== ''">
  <div class="row" *ngIf="errorMsg">
    <div class="col-md-12">
      <span class="error">
        {{errorMsg}}
      </span>
    </div>
  </div>
</div>
<hr *ngIf="outputs.length > 0">
<ngb-tabset #t="ngbTabset" *ngIf="outputs.length > 0" (tabChange)="outputChange($event)">
    <ngb-tab id="tab{{i}}" *ngFor="let output of outputs; let i = index">    
        <ng-template ngbTabTitle>
          {{output.typeName}}
          <span aria-hidden="true" (click)="rmOutput(i, $event)">&times;</span>
        </ng-template>
        <ng-template ngbTabContent>
          <div *ngIf="output.code" class="code-area" highlight-js-content=".highlight">
              <pre class="highlight python">{{output.code}}</pre>
          </div>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
<div #chart></div>