/* You can add global styles to this file, and also import other style files */

/*Styles For Drag and drop elements*/
.dnd-drag-start {
    opacity:0.4;
}

.dnd-sortable-drag {
  -moz-transform:scale(0.9);
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
  opacity:0.7;
  border: 1px dashed #000;
}

.modal-backdrop.fade
{
  opacity: 0.5;
}
.modal-open .modal
{
  opacity: 1;
}
.modal-content{
  top: 100px;
  width: 300px;
  margin: 0 auto;
}