/* You can add global styles to this file, and also import other style files */
@import "~mobile-drag-drop/default.css";

/*Styles For Drag and drop elements*/
.dnd-drag-start {
    opacity:0.4;
}

.dnd-sortable-drag {
  -moz-transform:scale(0.9);
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
  opacity:0.7;
  border: 1px dashed #000;
}

input[type="text"]{
  width: 100%; 
  text-align: left; 
  height: 31px;
}

.btn-disabled{
  opacity: 0.4;
}


.superscript{
  font-size:60%;
  position: relative;
  top: -6px;
}

.tab-box .tab-pane{
  margin:5px 0px;
  padding: 5px;
  min-height: 400px;
}

.modal-body{
  padding: 5px;
}

.modal-content{
  position: absolute;
}
