/* You can add global styles to this file, and also import other style files */

/*Styles For Drag and drop elements*/
.dnd-drag-start {
    opacity:0.4;
}

.dnd-drag-enter {
    box-shadow: 0 0 10px black;
}

.dnd-drag-over {
    box-shadow: 0 0 10px black;
}

.bit-spot .dnd-drag-over{
    box-shadow: 0 0 10px black;
}
.bit-spot .dnd-drag-start{
    box-shadow: 0 0 10px black;
}

.dnd-sortable-drag {
  -moz-transform:scale(0.9);
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
  opacity:0.7;
  border: 1px dashed #000;
}